<footer class="footer" style="text-align: center; padding-top: 5px;">
  <p>This site and its contents are <a href="https://github.com/whitmer/lti_example">available on GitHub</a> under the MIT license. Official IMS LTI specs and certifications are found on the <a href="http://www.imsglobal.org/lti/">IMS page</a>.</p>
</footer>
