.rating {
    margin-bottom: 5px;
}
.rating > div.voter {
    float: left;
}
.single_app .rating > div.voter {
    float: right;
}
.identity {
    float: right;
    vertical-align: bottom;
    height: 40px;
}
.identity > img {
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
}
.identity span, .identity a {
    display: block;
    float: left;
    padding-top: 10px;
}